{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Add New Item</h1>
    <form method="post" enctype="multipart/form-data" class="mb-4">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.item_name.id_for_label }}" class="form-label">Item Name:</label>
        {{ form.item_name }}
      </div>
      <div class="mb-3">
        <label for="{{ form.item_price.id_for_label }}" class="form-label">Item Price:</label>
        {{ form.item_price }}
      </div>
      <div class="mb-3">
        <label class="form-label">Size:</label>
        {{ form.size }}
      </div>
      <div class="mb-3">
        <label for="{{ form.item_image.id_for_label }}" class="form-label">Item Image:</label>
        {{ form.item_image }}
      </div>
      <div class="mb-3">
        <label for="{{ form.category.id_for_label }}" class="form-label">Category:</label>
        {{ form.category }}
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'item_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}