{% extends 'layout.html' %}

{% block content %}

<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>WishList Page</h2>
                    
                </div>
            </div>
        </div>
    </div>
  </div>

  {% if wishlist_items %}
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        {% for wishlist_item in wishlist_items %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">

                                </div>
                                <img src="{{ wishlist_item.item.item_image.url }}" style="height: 40vh;"
                                    alt="{{ wishlist_item.item.item_name }}">
                            </div>
                            <div class="down-content">
                                <h4>{{ wishlist_item.item.item_name }}</h4>
                                <span>${{ wishlist_item.item.item_price }}</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%else%}
<h1 class="text-center display-2 m-3">Wishlist is empty...!!!&#128531;</h1>

{%endif%}


{% for wishlist_item in wishlist_items %}
<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <div class="left-images">
                <img src="{{ wishlist_item.item.item_image.url }}" style="height: 43vh;" alt="">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-content">
                <h4>{{ wishlist_item.item.item_name }}</h4>
                <span class="price">${{ wishlist_item.item.item_price }}</span>
                <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                <div class="quote">
                    <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                </div>
                


                <form method="post" action="{% url 'add_to_cart' item_id=wishlist_item.item.pk %}">
                    {% csrf_token %}
                  <div class="quantity-content">
                    <label for="selected_size">Select Size:</label>
                    <select name="selected_size" id="selected_size">
                        {% for size in wishlist_item.item.size.all %}
                        <option value="{{ size.sizes }}">{{ size.sizes }}</option>
                        {% endfor %}
                    </select>
                  
                
                  <div class="total">

                    <h4>Price: ${{wishlist_item.item.item_price}}</h4> 
                    {% if wishlist_item.item.inventory > 0 %}

                      <div class="main-border-button"><button type="submit" class="btn btn-dark" >Add To Cart</button></div>

                    {%endif%}
                    {% if wishlist_item.item.inventory == 0 %}
                    <br>
                    <br>
                    <h3 class="text-danger fw-bolder">We ran out of stock sorry for the inconvince</h3>

                    {%endif%}
                  </div>
                </form>

                <div class="total m-3 text-center">
                
                    <div class="main-border-button text-center"><a href="{% url 'remove_from_wishlist' wishlist_item_id=wishlist_item.pk %}">
                        Remove Item
                    </a></div>
                    
                </div>
                
            </div>
        </div>
        </div>
    </div>
  </section>
  {% endfor %}

  {% include 'footer.html' %}

{% endblock %}
